@import "mixins.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background: linear-gradient(90deg, rgb(0, 195, 137) 30%, rgb(0, 144, 101) 100%);
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.toolWrapper {
  max-width: 31.25rem;
  background-color: var(--white);
  margin: 0 auto;
  border-radius: 0.625rem;
  width: 100%;
  margin: auto;
  position: relative;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.service-form {
  position: relative;
  padding: 0.625rem 1.25rem;
}
.service-form .mapleleaf-icon {
  max-width: 3.25rem;
  width: 100%;
  position: absolute;
  top: -0.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 0.5rem 1rem 0 1rem;
  border-radius: 5rem 5rem 0 0;
}
.service-form .mapleleaf-icon img {
  width: 100%;
}
.service-form h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-blue);
  font-size: 1.5rem;
}
.service-form h1 span {
  display: inline-block;
}
.service-form p {
  text-align: center;
  font-weight: 500;
}
.service-form p span {
  display: inline-block;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: var(--dark-blue);
  color: var(--white);
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: var(--light-blue);
}

.detailContainer #serviceDetails img {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
.detailContainer #serviceDetails h1 {
  font-size: 1.4375rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-blue);
  width: 100%;
  max-width: 75%;
  margin: 0.9375rem auto;
}
.detailContainer #serviceDetails h2 {
  color: var(--light-blue);
  font-size: 1.5rem;
  margin: 0;
  text-transform: capitalize;
  text-align: center;
  background-color: var(--dark-blue);
  padding: 1.25rem 0 0;
  margin-bottom: -1px;
}
.detailContainer #serviceDetails h3 {
  color: var(--light-blue);
  font-size: 1rem;
  margin: 0;
  text-transform: capitalize;
  text-align: left;
  background-color: var(--dark-blue);
  padding: 1rem 0 0;
}
.detailContainer #serviceDetails .textWrapper-a, .detailContainer #serviceDetails .textWrapper-b {
  background-color: var(--dark-blue);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.detailContainer #serviceDetails .textWrapper-a hr, .detailContainer #serviceDetails .textWrapper-b hr {
  width: 100%;
  border: 0.0425rem dashed var(--white);
  margin: 0 auto;
  opacity: 0.1;
}
.detailContainer #serviceDetails .textWrapper-a p, .detailContainer #serviceDetails .textWrapper-b p {
  color: var(--white);
  margin: 0.3125rem 0;
  border-bottom: 1px solid RGBA(204, 204, 204, 0.25);
  padding-bottom: 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9375rem;
  align-items: center;
  opacity: 0.9;
}
.detailContainer #serviceDetails .textWrapper-a p:last-child, .detailContainer #serviceDetails .textWrapper-b p:last-child {
  margin-bottom: 0;
  border: none;
}
.detailContainer #serviceDetails .textWrapper-a p span, .detailContainer #serviceDetails .textWrapper-b p span {
  flex-basis: 66.66%;
  line-height: 1.25;
}
.detailContainer #serviceDetails .textWrapper-a {
  padding-bottom: 0;
}
.detailContainer #serviceDetails .textWrapper-b {
  padding: 0.4375rem 1.25rem 1.25rem;
}
.detailContainer #serviceDetails .textWrapper-b .disclaimer {
  font-size: 0.8rem;
  line-height: 1.25;
  opacity: 0.5;
  font-style: italic;
}/*# sourceMappingURL=index.css.map */